* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  
  header .navbar {
    background-color: rgb(90, 90, 90);
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0%;
    opacity: 0.98;
    z-index: 2;
  }
  header .navbar a {
    text-decoration: none;
    margin: 15px;
    color: white;
  }
  header .navbar a:hover {
    color: powderblue;
    cursor: pointer;
  }
  header .navbar img {
    margin-right: 50px;
    width: 50px;
    height: 35px;
  }
  header div {
    background-color: rgb(207, 207, 207);
    position: relative;
    text-align: center;
  }
  header div img {
    height: 620px;
  }
  header div h4 {
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    text-align: center;
  }
  header .info_cuotas {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    opacity: 0.6;
    z-index: 1;
    border: 3px solid rgb(207, 207, 207);
    color: black;
    font-family: "Montserrat", sans-serif;
  }
  header .info_cuotas p {
    font-size: 26px;
  }
  
  main h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
    text-align: center;
    margin-top: 100px;
  }
  